* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* LAYOUT */

.header {
   padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}



ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.card {
    width: calc(90% / 3);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
}

footer {

    text-align: center;

}


